@charset "utf-8";

////////// ユーティリティ //////////


textarea {
  resize: vertical;
  transition: height 0.2s;
  font: 0.9rem "Trebuchet MS", Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/* リンクタップのカラー */
a {
  -webkit-tap-highlight-color: rgba($color2,0.3);
}

/* フルードイメージへの対応 */
// （レスポンシブで画像がウインドウ幅に合わせて拡大縮小するようにしてる）
img,svg {
  max-width :100%;
  height: auto;
  width: auto\9; //これはIE9対策
  vertical-align: middle;
  border: 0;
}

/* 禁則処理の追加 */
p,li,dt,dd,th,td,pre {
  word-wrap : break-word;
  overflow-wrap : break-word;
}

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* アイコンのカラーリング */
.home svg{fill: $color2;}
.cat svg{fill: $color5;}
.dogs svg{fill: $color3;}
.about svg{fill: $color6;}
.contact svg{fill: $color7;}
.fb svg{fill: $fb;}
.tw svg{fill: $tw;}
.line svg{fill: $line;}
.gp svg{fill: $gplus;}
.rss svg{fill: $color3;}
.default svg{fill: $color1;}