@charset "utf-8";

////////// 記事内モジュール //////////


////////// 目次 //////////
// 記事タイトル
// カテゴリーとかタグとか
// アイキャッチ画像
// 記事本文
// 画像
// 動画埋め込み
// 見出しH2
// 見出しH3
// 見出しH4
// 太字-黒
// 太字-赤
// 超太字
// 太字マーカー
// マーカー
// 小文字
// 内部リンク
// 外部リンク
// 記事内リスト
// 引用
// 記事内定義リスト（dl-dt-dd）-犬種ページ
// ダッシュボード用CSS


// 記事タイトル
.m-articleHead{
  margin-bottom: 1rem;
  h1{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    @include media(sl_tp) {
      font-size: 2rem;
    }
  }
}

// カテゴリーとかタグとか
.m-articleMeta{
  li{
    font-size: 0.8rem;
    color: $color4;
    &:first-child{
      float: left;
    }
    &:nth-child(2){
      float: right;
    }
    &:nth-child(3){
      clear: both;
    }
    a{
      text-decoration: none;
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
    }
    svg{
      fill: $color4;
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.4rem;
    }
  }
}

// アイキャッチ画像
.m-eyecatch{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

// 記事本文
.m-articleBody{
  font-size: 1rem;
  margin-bottom: 3rem;
}
.m-articleBody p{
  font-size: 1rem;
  line-height: 1.6;
  margin: 1.5rem 0;
  @include media(sl_tp) {
    line-height: 1.8;
  }
  @include media(pc) {
    line-height: 2;
  }
}
.m-articleBody img + p{
  margin-top: 0;
}

// 画像
.m-articleBody img {
  max-width: 100%;
  margin: 0.5rem 0;
}

// 動画埋め込み
.m-articleBody .m-umekomi{
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 50%;
  padding-top: 69px;
  overflow: hidden;
    iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// 見出しH2
.m-articleBody h2 {
  margin: 3rem 0 1rem;
  padding-left: 0.3rem;
  font-size: 1.3rem;
  font-weight: bold;
  &:before {
    content: '';
    position: relative;
    left: -0.3rem;
    display: inline-block;
    vertical-align: middle;
    width: 0.7rem;
    height: 1.5rem;
    background: url(img/bg-polygon.png) right center;
  }
  @include media(sl_tp) {
    font-size: 1.6rem;
    &:before{
      width: 0.8rem;
      height: 1.8rem;
    }
  }
}

// 見出しH3
.m-articleBody h3{
  margin: 2rem 0 0.7rem;
  padding-left: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  &:before{
    content: '';
    position: relative;
    left: -0.3rem;
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    background: $color2;
  }
  @include media(sl_tp) {
    font-size: 1.4rem;
  }
  &:before{
    width: 1.2rem;
    height: 1.2rem;
  }
}

// 見出しH4
.m-articleBody h4{
  margin: 0.7rem 0;
  font-weight: bold;
  font-size: 1.1rem;
  @include media(sl_tp) {
    font-size: 1.2rem;
  }
}

// 太字-黒
.m-articleBody strong,
.m-articleBody .b {
  font-weight: bold;
}

// 太字-赤
.m-articleBody .bred {
  font-weight: bold;
  color: #f66;
}

// 超太字
.m-articleBody .bb {
  font-weight: bold;
  font-size: 1.4rem;
  @include media(sl_tp) {
    font-size: 1.8rem;
  }
}

// 太字マーカー
.m-articleBody .bm{
  font-weight: bold;
  background: #fbb;
}

// マーカー
.m-articleBody em,
.m-articleBody .m{
  background: #ffe677;
}

// 小文字
.m-articleBody small{
  font-size: 0.7rem;
}

// 内部リンク
.m-articleBody p a,
.m-articleBody li a{
  color: $color5;
  &:hover{
    color: $color4;
    text-decoration: none;
  }
  &:after{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: $svg-link no-repeat bottom center;
    background-size: 0.9em 0.9em;
  }
}

// 外部リンク
.m-articleBody p a[target="_blank"]:after,
.m-articleBody li a[target="_blank"]:after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: $svg-link2 no-repeat bottom center;
  background-size: 0.9em 0.9em;
}

// 記事内リスト
.m-articleBody ul{
  padding: 1.5rem 1rem;
  li{
    padding-left: 1.3rem;
    background: $svg-list no-repeat left center;
    background-size: 1rem 1rem;
  }
}
.m-articleBody ol{
  list-style: decimal;
  padding: 1.5rem 2rem;
}

// 引用
.m-articleBody blockquote{
  position: relative;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: rgba($color2, 0.05);
  border-radius: 10px;
  p{
    margin: 0;
  }
  &:before{
    position: relative;
    top: -0.6rem;
    left: 0.6rem;
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: $svg-quo1 no-repeat bottom right;
    background-size: 1.5rem 1.5rem;
  }
  &:after{
    position: relative;
    bottom: -0.6rem;
    right: 0.6rem;
    content: '';
    margin-left: auto;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: $svg-quo2 no-repeat bottom right;
    background-size: 1.5rem 1.5rem;
  }
}

// 記事内定義リスト（dl-dt-dd）-犬種ページ
.m-dogsStates{
  padding: 1rem;
  background-color: rgba($color2, 0.1);
  border-radius: 3%;
  dl{
    margin-bottom: 0.5rem;
    padding-left: 1.3rem;
    background: $svg-dogs no-repeat left 0.25rem;
    background-size: 1rem 1rem;
    dt{
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 0.2rem;
      @include media(sl_tp) {
        font-size: 1.2rem;
      }
    }
    dd{
      svg{
        display: block;
        width: 12rem;
        height: 2rem;
        @include media(sl_tp) {
          width: 15rem;
          height: 2.5rem;
        }
        @include media(tl) {
          width: 18rem;
          height: 3rem;
        }
      }
    }
  }
}

@include media(sl_tp) {
  .m-statesBox{
    float: left;
    width: 50%;
    min-width: 17rem;
    dl{
      width: 17rem;
      margin: 0 auto 0.75rem;
      @include media(tl) {
        width: 20rem;
        margin: 0 auto 1rem;
      }
    }
  }
}