@charset "utf-8";

////////// 共通モジュール //////////


////////// 目次 //////////
// 広告
// サブコンテンツの見出し
// footerのナビゲーション
// ページトップボタン
// 固定メニューボタン
// コピーライト
// PCグローバルナビゲーション
// PC検索フォーム


////////// 広告 //////////
.m-ad {
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
  }
.m-ad > p {
  font-size: 0.7rem !important;
  color: #999;
  margin: 0 !important;
}


////////// サブコンテンツの見出し //////////
.m-subHead-A{
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  span{
    font: 700 1.5rem 'Noto Sans';
    margin-right: 0.5rem;
  }
  &:after{
    content: '';
    position: relative;
    bottom: -0.25rem;
    display: block;
    width: 100%;
    height: 0.25rem;
    background: url(img/bg-polygon.png) repeat-x bottom;
  }
  @include media(sl_tp) {
    margin-bottom: 1.25rem;
    span{
      font-size: 2rem;
    }
  }
  @include media(tl) {
    margin-bottom: 1.5rem;
    span{
      font-size: 2.5rem;
    }
  }
}

.m-subHead-B{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  &:after{
    content: '';
    position: relative;
    bottom: -0.25rem;
    display: block;
    width: 100%;
    height: 0.25rem;
    background: url(img/bg-polygon.png) repeat-x bottom;
  }
}


////////// footerのナビゲーション //////////
.m-footNav{
  margin-bottom: 0.5rem;
  li{
    margin-bottom: 0.3rem;
    a{
      color: $color1;
      text-decoration: none;
      &:hover{
        color: $color1;
        text-decoration: underline;
      }
      svg{
        width: 1rem;
        height: 1rem;
      }
    }
  }
  @include media(sl_tp) {
    a{
      font-size: 1.2rem;
      svg{
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

////////// ページトップボタン //////////
.m-pagetop{
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
  width: 3rem;
  margin: 0 auto;
  a{
    display: block;
  }
  svg{
    width: 3rem;
    height: 3rem;
    fill: #fff;
  }
}


////////// 固定メニューボタン //////////
.m-fixedBtn li {
  position: fixed;
  top: 5px;
  text-align: center;
  z-index: 150;
  a{
    display: block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    @include media(sl_tp) {
      width: 60px;
      height: 60px;
    }
  }
  svg{
    width: 100%;
    height: 100%;
  }
}

.m-fixedBtn {
  .m-fixedMenu {
    left: 10px;
    svg{ fill: rgba( $color3, 0.5 ); }
  }
  .m-fixedFollow {
    right: 10px;
    svg{ fill: rgba( $color5, 0.5 ); }
  }
}


////////// コピーライト //////////
.m-copyright{
  margin-top: 1rem;
  text-align: center;
  font-size: 0.7em;
}


////////// PCグローバルナビゲーション //////////
.m-headGnav {
  width: 100%;
  height: auto;
  background:#fff;
}

//親メニュー
.m-headGnav ul{
  margin:0 auto;
  padding:0;
  width: 100%;
  @include media(pc) {
    width: 1100px;//未定
  }
  li {
    float: left;
    position: relative;
    width: 25%;/*親メニューの幅*/
    height: 3.5rem;/*親メニューの高さ*/
    line-height: 2;
    text-align:center;
    cursor: pointer;
  }
  li a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  dl{
    dt{
      display: block;
      font: 400 1.4rem 'Noto Sans';
    }
    dd{
      display: block;
      font-size: 0.7rem;
    }
  }
}

//子メニュー
.m-headGnav ul li ul {
  position: absolute;
  top: 3.5rem;/*親メニューの高さと同じにする*/
  width: 100%;
  z-index: 100;
  li {
    visibility: hidden;
    overflow: hidden;
    width: 100%;/*サブメニューの幅*/
    height: 0;
    background:rgba($color5, 0.7);/*サブメニューの背景色*/
  }
}

//マウスオーバー
.m-headGnav ul li{
  transition: 0.5s;
  &:hover, a:hover {
    color:#fff; //ホバー時の親メニューの文字色
  }
  &:hover svg, a:hover svg {
    fill:#fff; //ホバー時の親メニューのアイコン色
  }
  ul li:hover, ul li a:hover {
    background:$color5;/*ホバー時のサブメニューの背景色*/
  }
  &:hover ul li, a:hover ul li{
    visibility: visible;
    overflow: visible;
    height:40px;/*サブメニューの高さ*/
    z-index: 10;
    a{
      height: 40px;
    }
  }
}

// カラーリング
.m-headGnav{
  .home a{color: $color2;}
  .cat{color: $color5;}
  .dogs a{color: $color3;}
  .about a{color: $color6;}

  .home:hover{background-color: $color2;}
  .cat:hover{background-color: $color5;}
  .dogs:hover{background-color: $color3;}
  .about:hover{background-color: $color6;}
}


////////// PC検索フォーム //////////
.m-search{
  form{
    display: none;
    @include media(pc) {
      display: block;
      position: relative;
      width: 100%;
    }
  }
  #s{
    padding-left: 10px;
    width: 290px;
    height: 40px;
    border: 2px solid #888;
    outline: none;
    box-sizing: border-box;
  }
  #searchsubmit{
    position: absolute;
    top: 0;
    _top: 1px;
    left: 296px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #888;
    background-image: $svg-search;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      background-color: $color4;
    }
  }
  *:first-child + html #searchsubmit{
    top: 1px;
  }
}