@charset "utf-8";

////////// 目次 //////////
// アーカイブ
// アーカイブ-ドッグス
// サブアーカイブ
// ページャー
// シェアボタン
// 広告
// サブコンテンツの見出し
// facebook likeボックス
// twitter followボックス
// footerのナビゲーション
// ページトップボタン
// 固定メニューボタン
// MMENUの中
// コピーライト
// PC Switcher
// PCグローバルナビゲーション
// PC検索フォーム

////////// アーカイブ //////////
.m-archives{
  margin-bottom: 1rem;
  @include media(sl_tp) {
    letter-spacing: -.40em; //文字間を詰めて隙間を削除する
  }
}

.m-archiveList{
  width: 90%;
  margin: 0 auto 0.8rem;
  position: relative;
  border: 1px solid  #eee;
  background-color: #fff;
  a{
    display: block;
    padding: 0.3rem;
    line-height: 1.3;
    color: $color1;
    text-decoration: none;
    &:hover{
      color: $color5;
    }
    &:hover:after{
      border-color: $color5;
    }
  }
  @include media(sl_tp) {
    padding: 0.6rem 0;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0 1% 1rem;
    border: 2px solid  #eee;
    box-sizing: border-box;
    letter-spacing: normal; //文字間を通常に戻す
    a{
      padding: 0 4%;
    }
  }
}

.m-archiveTxt{
  width: 90%;
  margin: 0 auto 0.3rem;
  h1{
    font-size: 1.1rem;
    font-weight: bold;
  }
  @include media(sl_tp) {
    width: 100%;
    h1{
      font-size: 1.2rem;
    }
  }
}

.m-archiveMeta{
  li{
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 0.7rem;
    color: #888;
    svg{
      width: 0.7rem;
      height: 0.7rem;
      fill: #888;
    }
  }
}

.m-archiveImg{
  margin: 0 auto;
  width: 90%;
  @include media(sl_tp) {
    width: 100%;
  }
}

//一番上のだけ違う表示にする
@include media(sl_tp) {
  body:not(.paged){ //一ページ目のみに適応
    .m-archiveList:first-child{
      width: 98%;
      a{
        padding: 0 2%;
      }
      h1{
        font-size: 2rem;
      }
    }
  }
}


////////// アーカイブ-ドッグス //////////
.m-dogsArchiveList{
  width: 50%;
  float: left;
  margin-bottom: 0.8rem;
  position: relative;
  @include media(sl_tp) {
    width: 33.33%;
  }
  @include media(pc) {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 2rem;
  }
  a{
    display: block;
    padding: 0.3rem;
    line-height: 1.3;
    color: $color1;
    text-decoration: none;
    letter-spacing: normal; //文字間を通常に戻す
    &:hover{
      color: $color5;
    }
    &:hover:after{
      border-color: $color5;
    }
  }
}

.m-dogsArchiveTxt{
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 95%;
  padding: 0.3rem 0;
  background-color: rgba($color4, 0.8);
  border-radius: 0.8rem;
  h1{
    padding: 0 0.3rem;
    font-weight: bold;
    color: #fff;
  }
}

.m-dogsArchiveImg{
  margin: 0 auto;
  width: 95%;
  display: block;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 3px 3px rgba($color1,0.4);
}


////////// サブアーカイブ //////////
.m-subArchives{
  @include media(sl_tp) {
    letter-spacing: -.40em; //文字間を詰めて隙間を削除する
  }
}

.m-subArchiveList{
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  position: relative;
  border: 1px solid  #eee;
  background-color: #fff;
  &:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 2%;
  width: 0.5rem;
  height: 0.5rem;
  margin: -4px 0 0 0;
  border-top: solid 2px $color5;
  border-right: solid 2px $color5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  }
  a{
    display: block;
    padding: 0 5% 0 2%;
    line-height: 1.3;
    color: $color1;
    text-decoration: none;
    &:hover{
      color: $color5;
    }
    &:hover h2{
      text-decoration: underline;
    }
    &:hover:after{
      border-color: $color5;
    }
  }
  @include media(sl_tp) {
    padding: 0.6rem 0;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0 1% 1rem;
    border: 2px solid  #eee;
    box-sizing: border-box;
    letter-spacing: normal; //文字間を通常に戻す
    &:after {
      display: none;
    }
    a{
      padding: 0 4%;
    }
  }
}

.m-subArchiveTxt{
  float: right;
  width: 60%;
  h2{
    font-size: 1.1rem;
    font-weight: bold;
  }
  @include media(sl_tp) {
    float: none;
    width: 100%;
    h2{
      font-size: 1.2rem;
    }
  }
}

.m-subArchiveMeta{
  li{
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 0.7rem;
    color: #888;
    svg{
      width: 0.7rem;
      height: 0.7rem;
      fill: #888;
    }
  }
}

.m-subArchiveImg{
  float: left;
  width: 37%;
  @include media(sl_tp) {
    float: none;
    width: 100%;
  }
}

//サイドアーカイブ
@include media(pc) {
  .m-sideArchives{
    letter-spacing: normal;

    .m-subArchiveList{
      padding: 0.5rem 0;
      display: block;
      margin: 0 1% 0.5rem;
      width: 100%;
      border: 2px solid  #eee;
      box-sizing: border-box;
      &:after {
      display: block;
      }
      a{
        padding: 0 5% 0 2%;
      }
    }

    .m-subArchiveTxt{
      float: right;
      width: 60%;
      h2{
        font-size: 1rem;
        font-weight: normal;
      }
    }

    .m-subArchiveMeta{
      li{
        margin-right: 0.3rem;
        font-size: 0.6rem;
        svg{
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .m-subArchiveImg{
      float: left;
      width: 37%;
    }
  }
}

//犬種サイドアーカイブ
.m-subDogArchives{
  display: none;
  @include media(pc) {
    display: block;
    .m-subArchiveList{
      border: none;
      border-bottom: 2px dotted $color3;
      background: none;
      &:after {
      border-color: $color3
      }
      a{
        padding: 0 5% 0 0;
        &:hover h2, &:hover h3{
          text-decoration: underline;
          color: $color3;
        }
      }
      h2{ font-size: 0.95rem; font-weight: bold; }
      h3{ font-size: 0.85rem; margin-top: 0.5rem; }
    }
  }
}


////////// ページャー //////////
.m-pager{
  position: relative;
  text-align:center;
  width: 100%;
  .page-numbers{
    display: inline-block;
    margin: 0 2px;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    font-size: 0.8rem;
    color: #222;
    text-decoration: none;
    line-height: 2rem;
    background: $color6;
    color: #fff;
    border-radius: 50%;
  }
  .dots{
    background: none;
    color: $color6;
  }
  .current{
    background: #aaa;
  }
  .next{
    margin: 0.5rem auto;
    display: block;
    border-radius: 3px;
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
  }
  .prev{
    display: none;
  }
}


////////// シェアボタン //////////
// 5列
.m-articleSns-A{
  width: 100%;
  margin: 0.5rem 0 0.5rem -1%;
  text-align: center;
  li{
    float: left;
    width: 19%;
    margin-left: 1%;
    a{
      display: block;
      padding: 10px 0;
      border-radius: 3px;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      svg{
        fill: #fff;
        width: 1.6rem;
        height: 1.6rem;
      }
      img{
        fill: #fff;
        width: 1.6rem;
        height: auto;
      }
    }
  }
}

// 3列
.m-articleSns-B{
  width: 100%;
  margin: 0.5rem -2% 0.5rem 0;
  text-align: center;
  li{
    float: left;
    width: 31%;
    margin-right: 2%;
    a{
      display: block;
      padding: 10px 0;
      border-radius: 3px;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      svg{
        fill: #fff;
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
}

// 各SNS配色
.m-like a{
  background-color: $fb;
  box-shadow: 0 3px 0 $fb - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $fb - 30; }
  }
}
.m-share a{
  background-color: $fb;
  box-shadow: 0 3px 0 $fb - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $fb - 30; }
  }
}
.m-tweet a{
  background-color: $tw;
  box-shadow: 0 3px 0 $tw - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $tw - 30; }
  }
}
.m-line a{
  background-color: $line;
  box-shadow: 0 3px 0 $line - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $line - 30; }
  }
}
.m-gplus a{
  background-color: $gplus;
  box-shadow: 0 3px 0 $gplus - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $gplus - 30; }
  }
}

//PCホバー
@include media(pc) {
  .m-articleSns-A, .m-articleSns-B{
    a{
      margin: 3px 0 3px 0;
      transition: 0.1s;
      &:hover{
        margin: 0 0 6px 0;
      }
      &:active{
        box-shadow: none;
        margin: 6px 0 0 0;
      }
    }
  }
}


////////// 広告 //////////
.m-ad {
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
  }
.m-ad > p {
  font-size: 0.7rem !important;
  color: #999;
  margin: 0 !important;
}


////////// サブコンテンツの見出し //////////
.m-subHead-A{
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  span{
    font: 700 1.5rem 'Noto Sans';
    margin-right: 0.5rem;
  }
  &:after{
    content: '';
    position: relative;
    bottom: -0.25rem;
    display: block;
    width: 100%;
    height: 0.25rem;
    background: url(img/bg-polygon.png) repeat-x bottom;
  }
  @include media(sl_tp) {
    margin-bottom: 1.25rem;
    span{
      font-size: 2rem;
    }
  }
  @include media(tl) {
    margin-bottom: 1.5rem;
    span{
      font-size: 2.5rem;
    }
  }
}


////////// facebook likeボックス //////////
.m-fbBox{
  width: 100%;
  margin-bottom: 1rem;
  .fb-like-box{
    max-width: 100%;
  }
  @include media(tl) {
  }
}

////////// twitter followボックス //////////
.m-twBox{
  width: 100%;
  margin-bottom: 1rem;
}


////////// footerのナビゲーション //////////
.m-footNav{
  margin-bottom: 0.5rem;
  li{
    margin-bottom: 0.3rem;
    a{
      color: $color1;
      text-decoration: none;
      &:hover{
        color: $color1;
        text-decoration: underline;
      }
      svg{
        width: 1rem;
        height: 1rem;
      }
    }
  }
  @include media(sl_tp) {
    a{
      font-size: 1.2rem;
      svg{
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

////////// ページトップボタン //////////
.m-pagetop{
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
  width: 3rem;
  margin: 0 auto;
  a{
    display: block;
  }
  svg{
    width: 3rem;
    height: 3rem;
    fill: #fff;
  }
}


////////// 固定メニューボタン //////////
.m-fixedBtn li {
  position: fixed;
  top: 5px;
  text-align: center;
  z-index: 150;
  a{
    display: block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    @include media(sl_tp) {
      width: 60px;
      height: 60px;
    }
  }
  svg{
    width: 100%;
    height: 100%;
  }
}

.m-fixedBtn {
  .m-fixedMenu {
    left: 10px;
    svg{ fill: rgba( $color3, 0.5 ); }
  }
  .m-fixedFollow {
    right: 10px;
    svg{ fill: rgba( $color5, 0.5 ); }
  }
}


////////// MMENUの中 //////////
.mmNav{
  dt{
    font: 700 1rem 'Noto Sans';
    margin-right: 0.5rem;
    display: inline;
  }
  dd{
    font-size: 0.8rem;
    display: inline;
  }
  svg{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }
}

.mmProf {
  background-color: #2b2b2b;
  padding: 20px 10px 10px 20px !important;
  img {
    display: block;
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
  }
  dl {
    width: 90%;
    line-height: 1.5;
    dt{
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.3rem;
    }
    dd{
      font-size: 0.9rem;
    }
  }
}

.mmLabel {
  background-color: #2b2b2b;
  dl{
    line-height: 15px;
    padding: 15px 10px 15px 20px;
  }
}

#mm-0 .cat-item{
  padding-left: 30px;
}

// searchform
.mm-search form {
  background-color: #333;
}
.mm-search #searchsubmit {
  display: none;
}


////////// コピーライト //////////
.m-copyright{
  margin-top: 1rem;
  text-align: center;
  font-size: 0.7em;
}


////////// PC Switcher //////////
.pc-switcher {
  position: absolute;
  bottom: 5px;
  margin: 5px auto 0 !important;
  width: 100% !important;
}

.pc-switcher a,
.pc-switcher span {
  display: inline-block;
  padding: 1rem 0;
  border: none !important;
}
.pc-switcher a{
  background: rgba($color4, 0.9) !important;
}
.pc-switcher span{
  background: rgba($color3, 0.9) !important;
}
.pc-switcher a:first-child,
.pc-switcher span:first-child {
}


////////// PCグローバルナビゲーション //////////
.m-headGnav {
  width: 100%;
  height: auto;
  background:#fff;
}

//親メニュー
.m-headGnav ul{
  margin:0 auto;
  padding:0;
  width: 100%;
  @include media(pc) {
    width: 1100px;//未定
  }
  li {
    float: left;
    position: relative;
    width: 25%;/*親メニューの幅*/
    height: 3.5rem;/*親メニューの高さ*/
    line-height: 2;
    text-align:center;
    cursor: pointer;
  }
  li a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  dl{
    dt{
      display: block;
      font: 400 1.4rem 'Noto Sans';
    }
    dd{
      display: block;
      font-size: 0.7rem;
    }
  }
}

//子メニュー
.m-headGnav ul li ul {
  position: absolute;
  top: 3.5rem;/*親メニューの高さと同じにする*/
  width: 100%;
  z-index: 100;
  li {
    visibility: hidden;
    overflow: hidden;
    width: 100%;/*サブメニューの幅*/
    height: 0;
    background:rgba($color5, 0.7);/*サブメニューの背景色*/
  }
}

//マウスオーバー
.m-headGnav ul li{
  transition: 0.5s;
  &:hover, a:hover {
    color:#fff; //ホバー時の親メニューの文字色
  }
  &:hover svg, a:hover svg {
    fill:#fff; //ホバー時の親メニューのアイコン色
  }
  ul li:hover, ul li a:hover {
    background:$color5;/*ホバー時のサブメニューの背景色*/
  }
  &:hover ul li, a:hover ul li{
    visibility: visible;
    overflow: visible;
    height:40px;/*サブメニューの高さ*/
    z-index: 10;
    a{
      height: 40px;
    }
  }
}

// カラーリング
.m-headGnav{
  .home a{color: $color2;}
  .cat{color: $color5;}
  .dogs a{color: $color3;}
  .about a{color: $color6;}

  .home:hover{background-color: $color2;}
  .cat:hover{background-color: $color5;}
  .dogs:hover{background-color: $color3;}
  .about:hover{background-color: $color6;}
}


////////// PC検索フォーム //////////
.m-search{
  form{
    display: none;
    @include media(pc) {
      display: block;
      position: relative;
      width: 100%;
    }
  }
  #s{
    padding-left: 10px;
    width: 290px;
    height: 40px;
    border: 2px solid #888;
    outline: none;
    box-sizing: border-box;
  }
  #searchsubmit{
    position: absolute;
    top: 0;
    _top: 1px;
    left: 296px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #888;
    background-image: $svg-search;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      background-color: $color4;
    }
  }
  *:first-child + html #searchsubmit{
    top: 1px;
  }
}