@charset "utf-8";


////////// アーカイブ //////////
.m-archives{
  margin-bottom: 1rem;
}

.m-archiveList{
  margin-bottom: 0.8rem;
  padding: 0.3rem 0;
  position: relative;
  border: 2px solid  #ddd;
  border-radius: 5px;
  background-color: #fff;
  &:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 2%;
  width: 0.5rem;
  height: 0.5rem;
  margin: -4px 0 0 0;
  border-top: solid 2px $color5;
  border-right: solid 2px $color5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  }
  a{
    display: block;
    padding: 0 5% 0 2%;
    line-height: 1.3;
    color: $color1;
    text-decoration: none;
    &:hover{
      color: $color5;
    }
    &:hover:after{
      border-color: $color5;
    }
  }
}

.m-archiveTxt{
  float: right;
  width: 60%;
  h1,h2{
    font-size: 1.1rem;
    font-weight: bold;
  }
}

.m-archiveMeta{
  li{
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 0.7rem;
    color: #888;
    svg{
      width: 0.7rem;
      height: 0.7rem;
      fill: #888;
    }
  }
}

.m-archiveImg{
  float: left;
  width: 37%;
}


////////// ページャー //////////
.m-pager{
  position: relative;
  text-align:center;
  width: 100%;
  .page-numbers{
    display: inline-block;
    margin: 0 2px;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    font-size: 0.8rem;
    color: #222;
    text-decoration: none;
    line-height: 2rem;
    background: $color6;
    color: #fff;
    border-radius: 50%;
  }
  .dots{
    background: none;
    color: $color6;
  }
  .current{
    background: #aaa;
  }
  .next{
    margin: 0.5rem auto;
    display: block;
    border-radius: 3px;
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
  }
  .prev{
    display: none;
  }
}


////////// シェアボタン //////////
// 5列
.m-articleSns-A{
  width: 100%;
  margin: 0.5rem 0 0.5rem -1%;
  text-align: center;
  li{
    float: left;
    width: 19%;
    margin-left: 1%;
    a{
      display: block;
      padding: 10px 0;
      border-radius: 3px;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      svg{
        fill: #fff;
        width: 1.6rem;
        height: 1.6rem;
      }
      img{
        fill: #fff;
        width: 1.6rem;
        height: auto;
      }
    }
  }
}

// 3列
.m-articleSns-B{
  width: 100%;
  margin: 0.5rem -2% 0.5rem 0;
  text-align: center;
  li{
    float: left;
    width: 31%;
    margin-right: 2%;
    a{
      display: block;
      padding: 10px 0;
      border-radius: 3px;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      svg{
        fill: #fff;
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
}

// 各SNS配色
.m-like a{
  background-color: $fb;
  box-shadow: 0 3px 0 $fb - 30;
}
.m-share a{
  background-color: $fb;
  box-shadow: 0 3px 0 $fb - 30;
}
.m-tweet a{
  background-color: $tw;
  box-shadow: 0 3px 0 $tw - 30;
}
.m-line a{
  background-color: $line;
  box-shadow: 0 3px 0 $line - 30;
}
.m-gplus a{
  background-color: $gplus;
  box-shadow: 0 3px 0 $gplus - 30;
}


////////// 広告 //////////
.m-ad {
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
  }
.m-ad > p {
  font-size: 0.7rem !important;
  color: #999;
  margin: 0 !important;
}


////////// サブコンテンツの見出し //////////
.m-subHead-A{
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  span{
    font: 700 1.5rem 'Noto Sans';
    margin-right: 0.5rem;
  }
  &:after{
    content: '';
    position: relative;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 3px;
    background: url(img/bg-polygon.png) repeat-x bottom;
  }
}


////////// facebook likeボックス //////////
.m-fbBox{
  width: 100%;
  margin-bottom: 1rem;
  .fb-like-box{
    max-width: 100%;
  }
}

////////// twitter followボックス //////////
.m-twBox{
  width: 100%;
  margin-bottom: 1rem;
}


////////// footerのナビゲーション //////////
.m-footNav{
  a{
    color: $color1;
    text-decoration: none;
    &:hover{
      color: $color1;
      text-decoration: underline;
    }
  }
  svg{
    width: 1rem;
    height: 1rem;
  }
}

////////// ページトップボタン //////////
.m-pagetop{
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
  width: 3rem;
  margin: 0 auto;
  a{
    display: block;
  }
  svg{
    width: 3rem;
    height: 3rem;
    fill: #fff;
  }
}


////////// 固定メニューボタン //////////
.m-fixedBtn li {
  position: fixed;
  top: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  z-index: 150;
  a{
    display: block;
    width: 40px;
    height: 40px;
    text-decoration: none;
  }
  svg{
    width: 40px;
    height: 40px;
  }
}

.m-fixedBtn {
  .m-fixedMenu {
    left: 10px;
    svg{ fill: rgba( $color3, 0.5 ); }
  }
  .m-fixedFollow {
    right: 10px;
    svg{ fill: rgba( $color5, 0.5 ); }
  }
}


////////// MMENUの中 //////////
.mmNav{
  font-size: 0.8rem;
  span{
    font: 700 1rem 'Noto Sans';
    margin-right: 0.5rem;
  }
  svg{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }
}

.mmProf {
  background-color: #2b2b2b;
  padding: 20px 10px 10px 20px !important;
  height: 76px;
  svg {
    display: block;
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 76px;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}

.mmLabel {
  background-color: #2b2b2b;
  p{
    line-height: 15px;
    padding: 15px 10px 15px 20px;
  }
}

#mm-0 .cat-item{
  padding-left: 30px;
}

// searchform
#gnav form {
  background-color: #333;
}
#searchsubmit {
  display: none;
}


////////// コピーライト //////////
.m-copyright{
  margin-top: 1rem;
  text-align: center;
  font-size: 0.7em;
}


////////// PC Switcher //////////
.pc-switcher {
  position: absolute;
  bottom: 5px;
  margin: 5px auto 0 !important;
  width: 100% !important;
}

.pc-switcher a,
.pc-switcher span {
  display: inline-block;
  padding: 1rem 0;
  border: none !important;
}
.pc-switcher a{
  background: rgba($color4, 0.9) !important;
}
.pc-switcher span{
  background: rgba($color3, 0.9) !important;
}
.pc-switcher a:first-child,
.pc-switcher span:first-child {
}