@charset "utf-8";

////////// プラグインモジュール //////////


////////// 目次 //////////
// いいねボタン
// Line@といいねボタン
// シェアボタン
// footerのSNSリンク
// footerのページプラグイン
// facebook コメントプラグイン
// MMENUの中
// PC Switcher
// MW WP Form


////////// いいねボタン //////////
.m-iine{
  margin-top: 1rem;
  text-align: center;
  > p{
    font-size: 0.85rem;
    font-weight: bold;
    color: $color3;
  }
}

////////// Line@といいねボタン //////////
.m-articleFollow{
  width: 95%;
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  border: 1px solid  #eee;
  background-color: #fff;
  @include media(sl_tp) {
    padding: 1rem 6rem;
  }
  @include media(tl) {
    padding: 1rem 12rem;
  }
  @include media(pc) {
    padding: 1rem 6rem;
  }
  p{
    font-size: 0.85rem;
    font-weight: bold;
    color: $color3;
  }
  .m-iine{
    float: left;
    width: 69px;
  }
  .m-lineat{
    float: right;
    width: 100%;
    margin: 1rem 0 1rem -80px;
    position: relative;
    text-align: center;
    .m-lineatInner{
      margin-left: 80px;
    }
    a{
      display: block;
      height: 58px;
      padding: 0.8rem 0;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      box-sizing: border-box;
      @include media(pc) {
        position: relative;
        bottom: 3px;
      }
      span{
        font-size: 1.4rem;
      }
      svg{
        fill: #fff;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}

#lean_overlay{
  position: fixed; z-index:100; 
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
.m-lineQR{
  background: none repeat scroll 0 0 rgba(#fff, 0.8);
  box-shadow: 0 0 4px rgba(#000, 0.7);
  display: none;
  padding: 100px;
  p{
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: $line;
    svg{
      fill: $line;
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  svg{
    width: 300px;
    height: 300px;
  }
 }


////////// シェアボタン //////////
// 5列
.m-articleSns-A{
  width: 100%;
  margin: 0.5rem 0;
  display: table;
  table-layout: fixed; //均等に配置
  border-collapse: separate; //セルの間隔を空ける
  border-spacing: 0.5rem 0; //左右 上下で記述
  li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 25%;
    a{
      display: block;
      padding: 10px 0;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      svg{
        fill: #fff;
        width: 1.6rem;
        height: 1.6rem;
      }
      img{
        fill: #fff;
        width: 1.6rem;
        height: auto;
      }
    }
  }
}

// 3列
.m-articleSns-B{
  width: 100%;
  margin: 0.5rem 0;
  display: table;
  table-layout: fixed; //均等に配置
  border-collapse: separate; //セルの間隔を空ける
  border-spacing: 0.5rem 0; //左右 上下で記述
  li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 33.333%;
    a{
      display: block;
      padding: 10px 0;
      border-radius: 3px;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      svg{
        fill: #fff;
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
}

// 各SNS配色
.m-like a{
  background-color: $fb;
  box-shadow: 0 3px 0 $fb - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $fb - 30; }
  }
}
.m-share a{
  background-color: $fb;
  box-shadow: 0 3px 0 $fb - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $fb - 30; }
  }
}
.m-tweet a{
  background-color: $tw;
  box-shadow: 0 3px 0 $tw - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $tw - 30; }
  }
}
.m-line a{
  background-color: $line;
  box-shadow: 0 3px 0 $line - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $line - 30; }
  }
}
.m-gplus a{
  background-color: $gplus;
  box-shadow: 0 3px 0 $gplus - 30;
  @include media(pc) {
  &:hover{ box-shadow: 0 6px 0 $gplus - 30; }
  }
}

//PCホバー
@include media(pc) {
  .m-articleSns-A, .m-articleSns-B, .m-lineat{
    a{
      margin: 3px 0 3px 0;
      transition: 0.1s;
      &:hover{
        margin: 0 0 6px 0;
      }
      &:active{
        box-shadow: none;
        margin: 6px 0 0 0;
      }
    }
  }
}


////////// footerのSNSリンク //////////
.m-snsBox{
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  a{
    display: block;
    padding: 10px 0;
    border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    svg{
      fill: #fff;
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

// 各SNS配色
.m-fbBox a{
  background-color: $fb;
  box-shadow: 0 3px 0 $fb - 30;
}
.m-twBox a{
  background-color: $tw;
  box-shadow: 0 3px 0 $tw - 30;
}
.m-lineBox a{
  background-color: $line;
  box-shadow: 0 3px 0 $line - 30;
}


////////// footerのページプラグイン //////////

.m-pagePlugin{
  display: flex;
  justify-content: space-between;
  .m-snsBox{
    width: 48%;
    margin-bottom: 1rem;
    @include media(pc) {
      width: 32%;
    }
  }
}

//facebook
.fb-page span, .fb-page iframe{
  width: 100% !important;
}
// twitter
#twitter-widget-2[style]{
  width: 100% !important;
}


////////// facebook コメントプラグイン //////////

//facebookコメントを可変幅に
.fb-comments,
.fb_iframe_widget,
.fb_iframe_widget[style],
.fb-comments iframe[style],
.fb-social-plugin span,
.fb-comments span {
    width: 100% !important;
    display: block;
}


////////// MMENUの中 //////////
.mmNav{
  dt{
    font: 700 1rem 'Noto Sans';
    margin-right: 0.5rem;
    display: inline;
  }
  dd{
    font-size: 0.8rem;
    display: inline;
  }
  svg{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }
}

.mmProf {
  background-color: #2b2b2b;
  padding: 20px 10px 10px 20px !important;
  img {
    display: block;
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
  }
  dl {
    width: 90%;
    line-height: 1.5;
    dt{
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.3rem;
    }
    dd{
      font-size: 0.9rem;
    }
  }
}

.mmLabel {
  background-color: #2b2b2b;
  dl{
    line-height: 15px;
    padding: 15px 10px 15px 20px;
  }
}

#mm-0 .cat-item{
  padding-left: 30px;
}

// searchform
.mm-search form {
  background-color: #333;
}
.mm-search #searchsubmit {
  display: none;
}


////////// MMENUの中その２ //////////
.m-mmFollow{
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  .m-mmlike{
    float: right;
    width: 69px;
  }
  .m-mmshare{
    float: left;
    width: 100%;
    margin-left: -80px;
    position: relative;
    text-align: center;
    .m-mmshareInner{
      margin-left: 80px;
    }
  }
  .m-mmBtn{
    a{
      display: block;
      height: 58px;
      padding: 0.8rem 0;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      box-sizing: border-box;
      span{
        font-size: 1.4rem;
      }
      svg{
        fill: #fff;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}


////////// PC Switcher //////////
.pc-switcher {
  position: absolute;
  bottom: 5px;
  margin: 5px auto 0 !important;
  width: 100% !important;
}

.pc-switcher a,
.pc-switcher span {
  display: inline-block;
  padding: 1rem 0;
  border: none !important;
}
.pc-switcher a{
  background: rgba($color4, 0.9) !important;
}
.pc-switcher span{
  background: rgba($color3, 0.9) !important;
}
.pc-switcher a:first-child,
.pc-switcher span:first-child {
}


////////// MW WP Form //////////
.m-mwwpf{
  margin: 2rem 0;
  p.m-mwwpfp{
    margin: 0;
    span{
      color: #f00;
    }
  }
}
.m-mwwpf2{
  div{
    width: 45%;
    float: left;
    margin-right: 5%;
  }
}
.m-mwwpf input,
.m-mwwpf textarea{
  width: 100%;
  border: 3px solid $color8;
  box-sizing: border-box;
  font: 1rem "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.m-mwwpf input{ height: 2rem; }
.m-mwwpf textarea{ height: 20rem; }
.mw_wp_form_preview{
  .m-mwwpf > div{
    background-color: #fff;
    padding: 1rem 1rem 1rem 2rem;
    border-left: 0.5rem solid $color2;
    box-sizing: border-box;
  }
}
.submitbtn input{
  width: 100%;
  height: 3rem;
  color: #fff;
  border: none;
  background-color: $color3;
  white-space: nowrap;
  cursor: pointer;
  font: 1rem "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.backbtn input{
  width: 100%;
  height: 3rem;
  color: #fff;
  border: none;
  background-color: $color8;
  white-space: nowrap;
  cursor: pointer;
  font: 1rem "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}