@charset "utf-8";
/*=================================================================
   article
=================================================================*/

@import "../core/setting";


// 記事タイトル
.m-articleHead{
  margin-bottom: 20px;
  h1{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}

// カテゴリーとかタグとか
.m-articleMeta{
  li{
    font-size: 0.8rem;
    color: $color4;
    &:first-child{
      float: left;
    }
    &:nth-child(2){
      float: right;
    }
    &:nth-child(3){
      clear: both;
    }
    a{
      text-decoration: none;
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
    }
    svg{
      fill: $color4;
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.4rem;
    }
  }
}

// 記事本文
.m-articleBody{
  font-size: 1rem;
  margin-bottom: 3rem;
}
.m-articleBody p{
  font-size: 1rem;
  line-height: 1.6;
  margin: 1.5rem 0;
  @include media(tablet) {
    line-height: 1.8;
  }
  @include media(pc) {
    line-height: 2;
  }
}
.m-articleBody img + p{
  margin-top: 0;
}

// 画像
.m-articleBody img {
  max-width: 100%;
  margin: 0.5rem 0;
}

// 動画埋め込み
.m-articleBody .m-umekomi{
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 50%;
  padding-top: 69px;
  overflow: hidden;
    iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// 見出しH2
.m-articleBody h2 {
  margin: 3rem 0 1rem;
  padding-left: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  &:before {
    content: '';
    position: relative;
    left: -0.3rem;
    display: inline-block;
    vertical-align: middle;
    width: 0.7rem;
    height: 1.5rem;
    background: url(img/bg-polygon.png) right center;
  }
}

// 見出しH3
.m-articleBody h3{
  margin: 2rem 0 0.7rem;
  padding-left: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
  &:before{
    content: '';
    position: relative;
    left: -0.3rem;
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    background: $color2;
  }
}

// 見出しH4
.m-articleBody h4{
  margin: 0.7rem 0;
  font-weight: bold;
  font-size: 1rem;
}

// 太字-黒
.m-articleBody strong,
.m-articleBody .b {
  font-weight: bold;
}

// 太字-赤
.m-articleBody .bred {
  font-weight: bold;
  color: #f66;
}

// 超太字
.m-articleBody .bb {
  font-weight: bold;
  font-size: 1.4rem;
}

// 太字マーカー
.m-articleBody .bm{
  font-weight: bold;
  background: #fbb;
}

// マーカー
.m-articleBody em,
.m-articleBody .m{
  background: #ffe677;
}

// 小文字
.m-articleBody small{
  font-size: 0.7rem;
}

// 内部リンク
.m-articleBody p a{
  color: $color5;
  &:hover{
    color: $color4;
    text-decoration: none;
  }
  &:after{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: $svg-link no-repeat bottom center;
    background-size: 0.9em 0.9em;
  }
}

// 外部リンク
.m-articleBody p a[target="_blank"]:after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: $svg-link2 no-repeat bottom center;
  background-size: 0.9em 0.9em;
}

// 記事内リスト
.m-articleBody ul{
  padding: 1.5rem 1rem;
  li{
    padding-left: 1.3rem;
    background: $svg-list no-repeat left center;
    background-size: 1rem 1rem;
  }
}
.m-articleBody ol{
  list-style: decimal;
  padding: 1.5rem 2rem;
}

// 引用
.m-articleBody blockquote{
  position: relative;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: rgba($color2, 0.05);
  border-radius: 10px;
  p{
    margin: 0;
  }
  &:before{
    position: relative;
    top: -0.6rem;
    left: 0.6rem;
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: $svg-quo1 no-repeat bottom right;
    background-size: 1.5rem 1.5rem;
  }
  &:after{
    position: relative;
    bottom: -0.6rem;
    right: 0.6rem;
    content: '';
    margin-left: auto;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: $svg-quo2 no-repeat bottom right;
    background-size: 1.5rem 1.5rem;
  }
}