@charset "utf-8";
/*=================================================================
   side
=================================================================*/

#side{
	position: relative;
	float: right;
	width: 300px;
	margin-left: 50px;
	@include media(tablet) {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
}

#side aside{
	margin-bottom: 2rem;
	@include media(tablet) {
		margin-bottom: 1.25rem;
	}
}

.widgettitle{
	margin-bottom: 10px;
	font-size: 1.5rem;
	text-align: center;
	color: #fabe00;
	border-top: 1px solid #fabe00;
	border-bottom: 3px double #fabe00;
	padding: 0.2rem 0 0.5rem;
	background: url(img/bg_paisley2.png) repeat;
}

.widgettitle small {
	font-size: 1rem;
}


/*twitter facebook
--------------------------------------------*/

#twitter { text-align: center; }

#fb .fbcomments,
#fb .fb_iframe_widget,
#fb .fb_iframe_widget[style],
#fb .fb_iframe_widget iframe[style],
#fb .fbcomments iframe[style],
#fb .fb_iframe_widget span{
		@include media(tablet) {
		width: 100% !important;
		max-height: 300px !important;
		height:auto !important;
	}
}


/*entry
--------------------------------------------*/

#entry_tab{
	width: 300px;
	padding-bottom: 10px;
	@include media(tablet) {
		width: 100%;
	}
}

#entry_tab li{
	float: left;
}

#entry_tab li a{
	display: block;
	padding: 0.5rem 0;
	width: 32%;
	margin-right: 2%;
	text-align: center;
	background: url(img/bg_black.png) repeat;
	font: 400 0.9rem 'Noto Sans', sans-serif;
	color: #fff;
	text-decoration: none;
}

#entry_tab li:last-child a{
	margin-right: 0;
}

#entry_tab li a.active{
	color: #fabe00;
}

#tab_p, #tab_n, #tab_h{
	width: 300px;
	@include media(tablet) {
		width: 100%;
	}
}

#tab_n, #tab_h{
	display: none;
}

#tabs ul {
	@include media(tablet) {
		width: 500px;
		margin: 0 auto;
	}
	@include media(sp) {
		width: 100%;
	}
}

#tabs li{
	margin-top: 10px;
	padding-bottom: 10px;
	background: url(img/dotline.png) repeat-x bottom;
}

#tabs li h3 {
	width: 185px;
	float: right;
	@include media(tablet) {
		width: 375px;
	}
	@include media(sp) {
		width: 65%;
	}
}

#tabs li p{
	float: left;
	width: 100px;
	height: auto;
	border-radius: 50%;
	overflow: hidden;
	@include media(tablet) {
		width: 30%;
		max-width: 100px;
	}
}

#tabs li a{
	font-size: 1rem;
	color: #444;
	text-decoration: none;
	border-bottom: 1px dashed #fabe00;
	@include media(tablet) {
		line-height: 1.5;
	}
}

#tabs li a:hover{
	color: #fabe00;
}

#tabs li p a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
}


/*fixed_sidebar
--------------------------------------------*/
#fixed_sidebar{
		@include media(tablet) {
		position: static !important;
	}
}



/*=================================================================
   side_pc
=================================================================*/

/*searchform
--------------------------------------------*/
#searchform{
	position: relative;
	width: 300px;
	height: 30px;
	@include media(tablet) {
		display: none;
	}
}

#s{
	padding-left: 5px;
	width: 255px;
	height: 30px;
	border: none;
	outline: none;
}

#searchsubmit{
	position: absolute;
	top: 0;
	_top: 1px;
	left: 270px;
	padding: 0;
	width: 30px;
	height: 30px;
	border: none;
	background: url(img/search.png) no-repeat top center;
}

*:first-child + html #searchsubmit{
	top: 1px;
}

#searchsubmit:hover{
	background: url(img/search.png) no-repeat bottom center;
}


/*category
--------------------------------------------*/
#cat {
	@include media(tablet) {
		display: none;
	}
}

#cat >ul > li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 100%;
	background: url(img/dotline.png) repeat-x bottom;
}

#cat li{
	font: 400 1rem 'Noto Sans', sans-serif;
	color: #444;
	text-indent: 0.5rem;
}

#cat li:before{
	font-family: 'designek';
	font-size: 0.8rem;
	content: attr(data-icon);
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\23 \00A0";
	color: #fabe00;
}

#cat li a{
	color: #444;
	text-decoration: none;
}

#cat li a:hover{
	color: #fabe00;
}

#cat .children li{
	margin-top: 5px;
	text-indent: 1.5rem;
}

#cat .children li:before{
	content: "\2a \00A0";
}


/*archive
--------------------------------------------*/

#archive > ul > li{
	margin-bottom: 5px;
}

#archive h2{
	font: 400 1rem 'Noto Sans', sans-serif;
	position: relative;
	margin-bottom: 5px;
	width: 100%;
	background: url(img/bg_black.png) repeat;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

#archive h2.active{
	color: #fabe00;
}

#archive span.icon_r,
#archive span.icon_b{
	position: absolute;
	left: 3%;
	top: 18%;
}

.month li{
	padding: 5px 0;
	text-align: left;
	text-indent: 0.5rem;
	@include media(tablet) {
		text-align: center;
	}
}

.month li a{
	font: 400 1rem 'Noto Sans', Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	text-decoration: none;
	color: #444;
	@include media(tablet) {
		font-size: 1.2rem;
	}
}

.month li span{
	font-size: 0.8rem;
	color: #fabe00;
	@include media(tablet) {
		font-size: 1rem;
	}
}

.month li a:hover{
	color: #fabe00;
}


/*about
--------------------------------------------*/
#about{
	width: 300px;
	padding-bottom: 30px;
	@include media(tablet) {
		display: none;
	}
}

#about a img{
	display: block;
	width: 250px;
	margin: 0 auto 10px;
}

#about hgroup{
	margin-bottom: 10px;
}

#about h2, #about h3{
	font-size: 0.8rem;
	text-indent: 1.5rem;
}

#about p{
	display: block;
	margin: 0 auto;
	width: 260px;
	font-size: 0.7rem;
}

#about p a{
	color: #00acee;
}

#about p a:hover{
	color: #fabe00;
	text-decoration: none;
}

.more_s{
	display: block;
	margin-top: 5px;
	margin-left: auto;
	padding: 3px 0;
	width: 130px;
	height: 15px;
	background: url(img/bg_black.png) repeat;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
	text-decoration: none;
	line-height: 15px;
}

.more_s:hover{
	color: #fabe00;
}