@charset "utf-8";

////////// ベースレイアウト //////////


html {
	font-family: "Trebuchet MS", Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	color: #3e3f40;
  background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.5;
  @include media(sl_tp) {
    font-size: 15px;
  }
  @include media(tl) {
    font-size: 16px;
  }
}

body {
	background: url(img/bg.png) repeat;
}

#header {
  padding: 10px 0 0;
  width: 100%;
  @include media(pc) {
    padding-top: 20px;
  }
}

#contentswrap {
  position: relative;
  width: 95%;
  margin: 25px auto 80px;
  @include media(sl_tp) {
    width: 90%;
  }
  @include media(tl) {
    width: 750px;
  }
  @include media(pc) {
    width: 1150px;//未定
  }
}

#main{
  width: 100%;
  @include media(pc) {
    position: relative;
    width: 100%;
    float: left;
    margin-right: -400px;
    .l-mainInner{
      margin-right: 400px;
    }
  }
}

#sub{
  width: 100%;
  @include media(pc) {
    position: relative;
    width: 336px;
    float: right;
    margin-left: 64px;
  }
}

#footer{
  position: relative;
  padding-bottom: 3rem;
  width: 100%;
  background: url(img/bg-polygon.png) repeat;
  background-size: 18.75rem;
  &:before{
    content: '';
    display: block;
    position: relative;
    top: -3rem;
    width: 100%;
    height: 3rem;
    background: url(img/bg-polygon2.png) repeat-x;
    background-size: 18.75rem 3rem;
  }
}