@charset "utf-8";

////////// フッターレイアウト //////////


.l-footerInner{
  position: relative;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 5%;
  background: rgba(#fff, 0.9);
  box-sizing: border-box;
}

.l-footNav{
  float: left;
  width: 60%;
}

.l-footLogo{
  float: right;
  width: 35%;
  @include media(sl_tp) {
    width: 20%;
  }
  img{
    width: 100%;
  }
}