@charset "utf-8";
/*=================================================================
   header
=================================================================*/

#header:after {
  content: '';
  position: relative;
  bottom: -10px;
  display: block;
  width: 100%;
  height: 0.25rem;
  background: url(img/bg-polygon.png) repeat-x bottom;
}

.l-headLogo {
  margin: 0 auto;
  width: 150px; //height: 30px
  @include media(tablet) {
    width: 250px; //height: 50px
  }
  a{
    display: block;
    width: 100%;
    height: auto;
  }
}