@charset "utf-8";
/*=================================================================
   header
=================================================================*/

#header:after {
	content: '';
	position: relative;
	bottom: -10px;
	display: block;
	width: 100%;
	height: 3px;
	background: url(img/bg-polygon.png) repeat-x bottom;
}

.l-headLogo {
	margin: 0 auto;
	width: 150px;
	a {
		display: block;
	}
}