@charset "utf-8";

////////// メインカラムレイアウト //////////


// single
.l-article{
	margin-bottom: 3.75rem;
	word-wrap: break-word;
}

.l-mainBlocks{
	margin-bottom: 1rem;
	word-wrap: break-word;
}


// archive
.l-archives{
  margin-bottom: 2rem;
}