@charset "utf-8";
/*=================================================================
   main
=================================================================*/


/*single
--------------------------------------------*/

.l-article{
	margin-bottom: 3.75rem;
	word-wrap: break-word;
}

.l-mainBlocks{
	margin-bottom: 1rem;
	word-wrap: break-word;
}


/*archives
--------------------------------------------*/

.l-archives{
  margin-bottom: 2rem;
}