@charset "utf-8";
/*=================================================================
   404
=================================================================*/

body.error404{
  background-image: url(img/bg_paisley2.png);
  background-repeat: repeat;
}

#wrap404{
  padding: 10px 20% 7px;
  border-bottom: 3px solid #bbb;
}

#wrap404 h1{
  font: 400 5rem 'Noto Sans', sans-serif;
  color: #222;
  text-align: center;
  text-shadow: 0 -1px 0 #222, 1px 1px 0 #fff;
}

#wrap404 p{
  margin-top: 100px;
  text-align: center;
}

#wrap404 p a{
  color: #00acee;
}

#wrap404 p a:hover{
  text-decoration: none;
}