@charset "utf-8";

////////// 404とコンテントノーン //////////

.contentNone .m-subArchiveList{
  background-image: none;
  background-color: #fff;
  padding-left: 0;
  a:after{
    display: none;
  }
  h3{
    padding: 0;
    margin: 0;
    &:before{
      display: none;
    }
  }
}

.contentNone ul.category li{
  margin: 2rem 0 0.7rem;
  padding-left: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  &:before{
    content: '';
    position: relative;
    left: -0.3rem;
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    background: $color2;
  }
  @include media(sl_tp) {
    font-size: 1.4rem;
  }
  &:before{
    width: 1.2rem;
    height: 1.2rem;
  }
  a{
    color: $color1;
    &:after{
      display: none;
    }
  }
}
