@charset "utf-8";
/*=================================================================
   archive
=================================================================*/

/* ページャー */

.pager{
	position: relative;
	text-align:center;
	width: 100%;
}

a.page-numbers,
.pager .current{
	display: inline-block;
	margin: 0 2px;
	width: 46px;
	height: 46px;
	background: url(img/pagenum.png) no-repeat center top;
	overflow: hidden;
	font: 400 0.8rem 'Noto Sans', sans-serif;
	color: #222;
	text-decoration: none;
	line-height: 46px;
	*display: inline;
	*zoom: 1;
}

a.page-numbers:hover,
.pager .current{
	background-position: center bottom;
}

a.next,
a.prev{
	display: block;
	position: absolute;
	width: 30px;
	height: 60px;
	overflow: hidden;
}

a.next{
	top: -7px;
	right: 0;
	background: url(img/next.png) no-repeat center top;
}

a.prev{
	top: -7px;
	left: 0;
	background: url(img/prev.png) no-repeat center top;
}

a.next:hover,
a.prev:hover{
	background-position: center bottom;
}

.pager .dots{
	display: inline-block;
	margin: 0 2px;
	height: 46px;
	overflow: hidden;
	font: 400 0.8rem 'Noto Sans', sans-serif;
	color: #222;
	line-height: 46px;
	*display: inline;
	*zoom: 1;
}