@charset "utf-8";
/*=================================================================
   side
=================================================================*/

#side{
	position: relative;
	float: right;
	width: 300px;
	margin-left: 50px;
	@include media(tablet) {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
}

#side aside{
	margin-bottom: 2rem;
	@include media(tablet) {
		margin-bottom: 1.25rem;
	}
}

.widgettitle{
	margin-bottom: 10px;
	font-size: 1.5rem;
	text-align: center;
	color: #fabe00;
	border-top: 1px solid #fabe00;
	border-bottom: 3px double #fabe00;
	padding: 0.2rem 0 0.5rem;
	background: url(img/bg_paisley2.png) repeat;
}

.widgettitle small {
	font-size: 1rem;
}


/*twitter facebook
--------------------------------------------*/

#twitter { text-align: center; }

#fb .fbcomments,
#fb .fb_iframe_widget,
#fb .fb_iframe_widget[style],
#fb .fb_iframe_widget iframe[style],
#fb .fbcomments iframe[style],
#fb .fb_iframe_widget span{
		@include media(tablet) {
		width: 100% !important;
		max-height: 300px !important;
		height:auto !important;
	}
}


/*entry
--------------------------------------------*/

#entry_tab{
	width: 300px;
	padding-bottom: 10px;
	@include media(tablet) {
		width: 100%;
	}
}

#entry_tab li{
	float: left;
}

#entry_tab li a{
	display: block;
	padding: 0.5rem 0;
	width: 32%;
	margin-right: 2%;
	text-align: center;
	background: url(img/bg_black.png) repeat;
	font: 400 0.9rem 'Noto Sans', sans-serif;
	color: #fff;
	text-decoration: none;
}

#entry_tab li:last-child a{
	margin-right: 0;
}

#entry_tab li a.active{
	color: #fabe00;
}

#tab_p, #tab_n, #tab_h{
	width: 300px;
	@include media(tablet) {
		width: 100%;
	}
}

#tab_n, #tab_h{
	display: none;
}

#tabs ul {
	@include media(tablet) {
		width: 500px;
		margin: 0 auto;
	}
	@include media(sp) {
		width: 100%;
	}
}

#tabs li{
	margin-top: 10px;
	padding-bottom: 10px;
	background: url(img/dotline.png) repeat-x bottom;
}

#tabs li h3 {
	width: 185px;
	float: right;
	@include media(tablet) {
		width: 375px;
	}
	@include media(sp) {
		width: 65%;
	}
}

#tabs li p{
	float: left;
	width: 100px;
	height: auto;
	border-radius: 50%;
	overflow: hidden;
	@include media(tablet) {
		width: 30%;
		max-width: 100px;
	}
}

#tabs li a{
	font-size: 1rem;
	color: #444;
	text-decoration: none;
	border-bottom: 1px dashed #fabe00;
	@include media(tablet) {
		line-height: 1.5;
	}
}

#tabs li a:hover{
	color: #fabe00;
}

#tabs li p a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
}


/*fixed_sidebar
--------------------------------------------*/
#fixed_sidebar{
		@include media(tablet) {
		position: static !important;
	}
}